# Compiled class file
*.class
*.jar
*.war
*.ear
*.log
*.iml
*.h2.db
target/
build/

# Log file
*.log

# BlueJ files
*.ctxt

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*


# IDEs
/.idea/
/.vscode/
/*.swp
*.classpath
*.project
*.settings/

# Maven
.mvn/
!.mvn/wrapper/mvnw
!.mvn/wrapper/mvnw.cmd
HELP.md

# Environment / sensitive files
.env
application.properties
application.yml

# OS files
.DS_Store
Thumbs.db


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

